<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

  <%- include("../partials/header"); %>
  <%- include("../partials/nav"); %>
  
  
  
  <main>
    <h2>Bem-vindo aos Conceitos de Programação Back-End</h2>
    <p>Este site tem como objetivo apresentar alguns conceitos essenciais do back-end, como APIs, banco de dados,
      autenticação, entre outros.</p>
    </main>
    
    <%- include("../partials/footer"); %>

</body>

</html>